/* Based on Chosen */

/* @group Base */
.mcombo-container {
    font-size: 13px;
    position: relative;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.mcombo-container-active .mcombo-drop {
    background: #fff;
    border: 1px solid #aaa;
    border-top: 0;
    left: 0;
    -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
    -moz-box-shadow   : 0 4px 5px rgba(0,0,0,.15);
    -o-box-shadow     : 0 4px 5px rgba(0,0,0,.15);
    box-shadow        : 0 4px 5px rgba(0,0,0,.15);
    z-index: 1010;
    width: 100%;
}
/* @end */

/* @group Multi Chosen */
.mcombo-container-multi .mcombo-selected-choices {
    background-color: #fff;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
    background-image: -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    border: 1px solid #aaa;
    margin: 0;
    padding: 0;
    cursor: text;
    overflow: hidden;
    height: auto !important;
    height: 1%;
    position: relative;
    width: 100%;
}
.mcombo-container-multi .mcombo-selected-choices li {
    float: left;
    list-style: none;
}
.mcombo-container-multi .mcombo-selected-choices .search-field {
    white-space: nowrap;
    margin: 0;
    padding: 0;
}
.mcombo-container-multi .mcombo-selected-choices .search-field input {
    color: #666;
    background: transparent !important;
    border: 0 !important;
    font-family: sans-serif;
    font-size: 100%;
    height: 15px;
    padding: 5px;
    margin: 1px 0;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow   : none;
    -o-box-shadow     : none;
    box-shadow        : none;
}
.mcombo-container-multi .mcombo-selected-choices .search-field .default {
    color: #999;
}
.mcombo-container-multi .mcombo-selected-choices .selected-choice {
    -webkit-border-radius: 3px;
    -moz-border-radius   : 3px;
    border-radius        : 3px;
    -moz-background-clip   : padding;
    -webkit-background-clip: padding-box;
    background-clip        : padding-box;
    background-color: #e4e4e4;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 );
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
    -moz-box-shadow   : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
    box-shadow        : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
    color: #333;
    border: 1px solid #aaaaaa;
    line-height: 13px;
    padding: 3px 20px 3px 5px;
    margin: 3px 0 3px 5px;
    position: relative;
    cursor: default;
}
.mcombo-container-multi .mcombo-selected-choices .selected-choice .selected-choice-delete {
    display: block;
    position: absolute;
    right: 3px;
    top: 4px;
    width: 12px;
    height: 13px;
    font-size: 1px;
    background: url('ui-multicombo-sprite.png') right top no-repeat;
}
.mcombo-container-multi .mcombo-selected-choices .selected-choice .selected-choice-delete:hover {
    background-position: right -11px;
}
.mcombo-container-multi .mcombo-selected-choices .search-choice-focus .selected-choice-delete {
    background-position: right -11px;
}

/* @end */

/* @group Results */
.mcombo-container .choices {
    margin: 0 4px 4px 0;
    max-height: 240px;
    padding: 0 0 0 4px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.mcombo-container-multi .choices {
    margin: -1px 0 0;
    padding: 0;
}
.mcombo-container .choices li {
    display: none;
    line-height: 15px;
    padding: 5px 6px;
    margin: 0;
    list-style: none;
}
.mcombo-container-active .choices li {
    display: block;
}
.mcombo-container .choices li.item:hover {
    background-color: #3875d7;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3875d7', endColorstr='#2a62bc', GradientType=0 );
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
    background-image: -webkit-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
    background-image: -moz-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
    background-image: -o-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
    background-image: -ms-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
    background-image: linear-gradient(top, #3875d7 20%, #2a62bc 90%);
    color: #fff;
}
.mcombo-container .choices li em {
    background: #feffde;
    font-style: normal;
}
.mcombo-container .choices .no-results {
    background: #f4f4f4;
    display: list-item;
}
.mcombo-container-active .mcombo-selected-choices {
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
    -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
    -o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
    box-shadow        : 0 0 5px rgba(0,0,0,.3);
    border: 1px solid #5897fb;
}
.mcombo-container-active .mcombo-selected-choices .search-field input {
    color: #111 !important;
}
/* @end */

/* @group Disabled Support */
/*.chzn-disabled {
    cursor: default;
    opacity:0.5 !important;
}
.chzn-disabled .chzn-single {
    cursor: default;
}
.chzn-disabled .mcombo-selected-choices .selected-choice .selected-choice-delete {
    cursor: default;
}*/